# Logs
logs
*.log*

node_modules
dist
dist-ssr
*.local
*.backup

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.sh
.env*
.vscode*

*.docx
*.docx.*
*.claude
*.bak.*
*.zip
